<!--
<h2>Home</h2>
<p data-bind='text: message'></p>
<button data-bind='click: doSomething'>Click me</button>
-->
<div class="jumbotron">
    <h1>Welcome to the 23andMe Frontend Interface</h1>
      <p>This a static SPA powered by Knockoutjs that integrates with a Python Flask proxy API that wraps around the 23andMe API.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
