<h2>API Test</h2>


<!--
<p data-bind='text: message'></p>

<button data-bind='click: doSomething'>Click me</button>
-->

<!--
<a href="https://api.23andme.com/authorize/?redirect_uri=http://192.168.1.152:8080&response_type=code&client_id=4c4b0078b9b3088d5f87f3df4f60a155&scope=basic rs123">Connect with 23andMe</a>

<a href="https://api.23andme.com/authorize/?redirect_uri=http://127.0.0.1:5000/receive_code&response_type=code&client_id=4c4b0078b9b3088d5f87f3df4f60a155&scope=basic%20names%20email%20ancestry%20family_tree%20relatives%20relatives:write%20analyses%20haplogroups%20report:all%20report:wellness.alcohol_flush%20report:wellness.caffeine_consumption%20report:wellness.deep_sleep%20report:wellness.lactose%20report:wellness.muscle_composition%20report:wellness.saturated_fat_and_weight%20report:wellness.sleep_movement%20genomes%20phenotypes:read:weight_g%20phenotypes:read:sex%20phenotypes:read:family_tree_url%20phenotypes:read:date_of_birth%20phenotypes:read:height_mm%20phenotypes:read:bd_pgen_patient_id">Connect with 23andMe</a>
-->

<!--
<button id="get-accessions-button">Get Accession Object</button>
<button id="testajax">Test Ajax</button>
-->
<h1>Test call to proxy API with http basic auth with JWT token</h1>


<button id="apiAuthCallTest">API CALL TEST</button>



