<div class="container">

<!--    <div class="row"> -->
<!-- <div class="col-xs-8 col-xs-offset-0"> -->
<!--      <div class="col-6 col-md-4"> -->
		    <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#gene_name" data-toggle="tooltip" data-placement="top" title="The gene name parameter will return a list of markers for that gene.">Gene name</a></li>
                      <li><a href="#accession_id" data-toggle="tooltip" data-placement="top" title="The accession id parameter will return a list of markers on that chromosome.">Accession ID</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="searchTerm" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" id="searchBtn">Search</button>
                </span>
            </div>

            <!-- info icon --> 					
						<div class="col-12"><span class="glyphicon glyphicon-info-sign pull-right" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Most of the markers will use the standardized NCBI rs# (reference SNP cluster id) that can be searched for in dbSNP, but others have "i-ids" (they start with i), which are internal to 23andMe and will not exist in dbSNP. Marker data correlates to the GRCh37 human reference genome." data-delay='{ "show": "2000", "hide": "2000"}'></span></div>
   <!--  </div> -->
  <!-- </div> -->

	<br></br>
	<div class="alert alert-info" id="noresultsalert" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Sorry, no results were returned for your query. Please try another search.</div>
</div>


<style>
.tooltip-inner {
    max-width: 300px;
    /* If max-width does not work, try using width instead */
    width: 300px;
}
</style>


<br></br>




<!-- renders gene name results -->
<div class="container" data-bind="foreach: KOMarkersResponseArray_geneName" id="markersDisplay">
  <div class="list-group">
    <a class="list-group-item active"><b>SNP ID: </b><b data-bind="text: id"></b></a>
    <a class="list-group-item"><b>Start: </b><b data-bind="text: start"></b></a>
    <a href="#" class="list-group-item"><b>End: </b><b data-bind="text: end"></b></a>
    <a href="#" class="list-group-item"><b>Accession Id: </b><b data-bind="text: accession_id"></b></a>
    <a href="#" class="list-group-item"><b>Variants => </b>allele: <b data-bind="text: allele_0"></b>, </b>allele: <b data-bind="text: allele_1"></b></a>
  </div>
</div>

<!-- renders accesion id results -->
<div class="container" data-bind="foreach: KOMarkersResponseArray_accessionID" id="markersDisplay">
  <div class="list-group">
    <a class="list-group-item active"><b>SNP ID: </b><b data-bind="text: id"></b></a>
    <a class="list-group-item"><b>Start: </b><b data-bind="text: start"></b></a>
    <a href="#" class="list-group-item"><b>End: </b><b data-bind="text: end"></b></a>
    <a href="#" class="list-group-item"><b>Accession Id: </b><b data-bind="text: accession_id"></b></a>
    <a href="#" class="list-group-item"><b>Gene names: <b data-bind="text: gene_names"></b></a>
  </div>
</div>
