<h1>Login</h1>


<!--
<p data-bind='text: message'></p>

<button data-bind='click: doSomething'>Click me</button>
-->

<!--
<a href="https://api.23andme.com/authorize/?redirect_uri=http://192.168.1.152:8080&response_type=code&client_id=4c4b0078b9b3088d5f87f3df4f60a155&scope=basic rs123">Connect with 23andMe</a>

<a href="https://api.23andme.com/authorize/?redirect_uri=http://127.0.0.1:5000/receive_code&response_type=code&client_id=4c4b0078b9b3088d5f87f3df4f60a155&scope=basic%20names%20email%20ancestry%20family_tree%20relatives%20relatives:write%20analyses%20haplogroups%20report:all%20report:wellness.alcohol_flush%20report:wellness.caffeine_consumption%20report:wellness.deep_sleep%20report:wellness.lactose%20report:wellness.muscle_composition%20report:wellness.saturated_fat_and_weight%20report:wellness.sleep_movement%20genomes%20phenotypes:read:weight_g%20phenotypes:read:sex%20phenotypes:read:family_tree_url%20phenotypes:read:date_of_birth%20phenotypes:read:height_mm%20phenotypes:read:bd_pgen_patient_id">Connect with 23andMe</a>
-->

<!--
<button id="get-accessions-button">Get Accession Object</button>
<button id="testajax">Test Ajax</button>
-->
<h2>Click to authenticate with 23andMe.</h2>

<button type="submit" id="TTandMeSignIn"><img src="https://api.23andme.com/res/img/connect-button-example.5fca4ae219ac.png" alt="connectbutton"></button>


<button id="APIauth">Authentication with 23AndMe our API</button>


<div class="login-page">
	<div class="form">
		<form class="register-form">
			<input type="text" placeholder="name"/>
			<input type="password" placeholder="password"/>
			<input type="text" placeholder="email address"/>
			<button>create</button>
	        <p class="message">Already registered? <a href="#">Sign In</a></p>
		</form>
	    <form class="login-form">
			<input type="text" name="username" placeholder="username"/>
			<input type="password" name="password" placeholder="password"/>
			<button id="login_button">login</button>
		    <p class="message">Not registered? <a href="#">Create an account</a></p>
		</form>
	  </div>
	  </div></button></p></button>
</div>


